:root {
    --bg-color: #f0f0f0;
    --container-bg: #fff;
    --text-color: #000;
    --progress-bg: #e0e0e0;
    --progress-fill: #000000;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --pencil-icon-color: #D3D3D3;
    --pencil-icon-hover: #808080;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #1a1a1a;
      --container-bg: #2c2c2c;
      --text-color: #000000;
      --progress-bg: #444;
      --progress-fill: #ffffff;
      --shadow-color: rgba(255, 255, 255, 0.1);
      --pencil-icon-color: #555;
      --pencil-icon-hover: #888;
    }
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  #progress-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: var(--container-bg);
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--shadow-color);
  }
  
  #progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--progress-bg);
  }
  
  #progress-bar::-webkit-progress-bar {
    background-color: var(--progress-bg);
    border-radius: 10px;
  }
  
  #progress-bar::-webkit-progress-value {
    background-color: var(--progress-fill);
    transition: width 0.2s ease-in-out;
  }
  
  #progress-bar::-moz-progress-bar {
    background-color: var(--progress-fill);
    transition: width 0.2s ease-in-out;
  }
  
  .hide-checklist #checklist {
    display: none;
  }
  
  #checklist {
    list-style-type: none;
    padding: 0;
  }
  
  #checklist li {
    margin: 10px 0;
  }
  
  .pencil-icon {
    color: var(--pencil-icon-color);
  }
  
  .pencil-icon:hover {
    color: var(--pencil-icon-hover);
  }
  